.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 80%;
  margin: 0 auto 10vh auto;
}

@media screen and (max-width: 720px) {
  .grid {
    grid-template-columns: 1fr;
    margin-bottom: 5vh;
  }
}