.header {
  width: 80vw;
  margin: 10vh auto 0 auto;
  display: grid;
  grid-template-columns: 1fr 2fr 2fr;
  align-content: flex-end;
  justify-content: flex-end;
}

.header__title {
  font-size: 3.9vw;
  text-align: center;
  font-weight: 900;
  margin: auto auto 0 0;
  background: linear-gradient(-45deg, #EC0B43, #FFAE03, #730071, #5438DC, #357DED, #540D6E);
	background-size: 500%;
  background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	animation: animated_text 5s ease-in-out infinite alternate, topSlideIn 1s linear, fadeIn 2s linear;
	-moz-animation: animated_text 5s ease-in-out infinite alternate, topSlideIn 1s linear, fadeIn 2s linear;
	-webkit-animation: animated_text 5s ease-in-out infinite alternate, topSlideIn 1s linear, fadeIn 2s linear;
  text-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
}

.header__title_span {
  font-size: 6.25vw;
  font-weight: 700;
  font-style: italic;
  background: linear-gradient(45deg, #EC0B43, #FFAE03, #730071, #5438DC, #357DED, #540D6E);
	background-size: 300%;
  background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	animation: animated_text 5s ease-in-out infinite alternate;
	-moz-animation: animated_text 5s ease-in-out infinite alternate;
	-webkit-animation: animated_text 5s ease-in-out infinite alternate;
}

.header__text {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  margin: auto 0 0 auto;
  font-size: 2.344vw;
  animation: rightSlideIn 1.5s ease-in-out alternate;
}

@media screen and (max-width: 720px) {
  .header {
    grid-template-columns: 1fr;
    align-content: center;
    justify-content: center;
    margin-top: 5vh;
  }

  .header__title {
    font-size: 11vw;
    margin: auto auto 0 auto;
    text-align: center;
  }

  .header__title_span {
    font-size: 16.5vw;
  }

  .header__text {
    font-size: 6vw;
    margin: 2.5vh auto 2.5vh auto;
  }
}

@keyframes animated_text {
	0% { background-position: 0px 50%; }
	50% { background-position: 100% 50%; }
	100% { background-position: 0px 50%; }
}