.image {
  width: 15.625vw;
  height: 15.625vw;
  border-radius: 50%;
  border-color: #fff;
  background-size: contain;
  margin: auto 0 0 0;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
  animation: leftSlideIn 1.5s linear, fadeIn 2s linear;
}

.image_l {
  width: 58vw;
  height: 75vh;
  background-size: contain;
  cursor: pointer;
  border: none;
  margin: 0 auto 0 auto;
  position: relative;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
}

@media screen and (max-width: 720px) {
  .image {
    width: 50vw;
    height: 50vw;
    margin-left: auto;
    margin-right: auto;
  }

  .image_l {
    width: 100%;
    height: 90vw;
  }
}

@keyframes leftSlideIn {
  0% {
    transform: translate(-400%, 0);
  }
  100% {
    transform: translate(0, 0);
  }
}

@keyframes rightSlideIn {
  0% {
    transform: translate(400%, 0);
  }
  100% {
    transform: translate(0, 0);
  }
}

@keyframes topSlideIn {
  0% {
    transform: translate(0, -400%);
  }
  100% {
    transform: translate(0, 0);
  }
}

@keyframes bottomSlideIn {
  0% {
    transform: translate(0, 400%);
  }
  100% {
    transform: translate(0, 0);
  }
}